.app {
  background: rgb(33, 34, 48);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
}

.logo {
  height: 40px;
  width: 100%;
}

.logo-wrapper {
  margin-right: auto;
}
